<% layout("/layouts/boilerplate") %>
<h3>Wallpaper Details</h3>
<ul>
  <li><%= wallpaper.title %></li>
  <li><%= wallpaper.description %></li>
  <li><%= wallpaper.category %></li>
  <li><%= wallpaper.downloads %></li>
  <li><%= wallpaper.views %></li>
  <li><%= wallpaper.likes %></li>
  <li><%= wallpaper.createdAt.toLocaleString() %></li>
</ul>

<a href="/wallpapers/<%= wallpaper._id %>/edit">Edit</a>

<form method="post" action="/wallpapers/<%= wallpaper._id %>?_method=DELETE">
  <button>Delete</button>
</form>
